doctype html
html(lang="ja")
    head
        meta(chaset="utf=8")
        mata(name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1')
        meta(name='description' content='')
        link(rel='stylesheet' href='/bootstrap-css')
        link(rel='stylesheet' href='/style')
        title Mahjong Score Sharing Tool
    body
        div#container
            h1 Mahjong Score Sharing Tool
            div#chatArea
                div.form-group
                    label.control-label Input
                    div.input-group
                        span.input-group-addon#userName
                        input#textbox.form-control(type='text' placeholder='なにしてる？')
                        span.input-group-btn
                            button.btn.btn-default(type='button' onclick='publishMessage()') send
                div#chatHistory
            div.container
                ul.pagination.pagination-lg
                    li.active: a(href='#') 東
                    li: a(href='#') 南
                    li: a(href='#') 西
                    li: a(href='#') 北

            
            
        script(type='text/javascript' src='/jquery')
        script(type='text/javascript' src='/bootstrap')
        script(type='text/javascript' src='/socket.io')
        script(type='text/javascript' src='/script')
