doctype html
html(lang="ja")
    head
        meta(chaset="utf=8")
        mata(name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1')
        meta(name='description' content='')
        link(rel='stylesheet' href='/bootstrap-css')
        link(rel='stylesheet' href='/style')
        title Mahjong Score Sharing Tool
    body
        div#container
            h1 Mahjong Score Sharing Tool
            div#chatArea
                div.form-group
                    label.control-label Input
                    div.input-group
                        span.input-group-addon#userName
                        input#textbox.form-control(type='text' placeholder='なにしてる？')
                        span.input-group-btn
                            button.btn.btn-default(type='button' onclick='publishMessage()') send
                div#chatHistory

            div#windButtons.container
                ul.pagination.pagination-lg
                    li.wind.active: a(href='#') 東
                    li.wind: a(href='#') 南
                    li.wind: a(href='#') 西
                    li.wind: a(href='#') 北
            
            div#scoreTable.container
                table.table.table-striped.table-hover
                    thead
                        tr
                            th player
                            th score
                            th diff
                    tbody#scoreTableBody
            
            ul.nav.nav-tabs
                li: a(href='#ron' data-toggle='tab' aria-expanded='false') Ron
                li: a(href='#p-tsumo' data-toggle='tab' aria-expanded='false') P-Tsumo
                li: a(href='#c-tsumo' data-toggle='tab' aria-expanded='false') C-Tsumo
            div#myTabContent.tab-content
                div#ron.tab-pane.fade.active
                    div.form-group
                        label.control-label(for='inputLarge') Score
                        input#inputLarge.form-control.input-lg(type='text')
                div#p-tsumo.tab-pane.fade
                    p world
                div#c-tsumo.tab-pane.fade
                    p mons
            
        script(type='text/javascript' src='/jquery')
        script(type='text/javascript' src='/bootstrap')
        script(type='text/javascript' src='/socket.io')
        script(type='text/javascript' src='/script')
